<%- include layouts/header.ejs %>
    <script>
        function cancelAdd() {
            window.location.href = '/movies';
        }
    </script>
    <div class="page-data">

        <form role="form" method="POST" action="/edit/<%=data[0].title%>">
            <table class="table table-striped" cellpadding="11">
                <tr>
                    <td class="label">Title</td>
                    <td>Title:
                        <input type="text" value="<%=data[0].title%>" name="title" required>
                    </td>
                </tr>
                <tr>
                    <td class="label">Format:</td>
                    <td>Format:
                        <select class="formatPicker" name="formatPicker"
                            value="<%=data[0].format%>" selected="true">
                            <option value="<%=data[0].format%>"></option>VHS</option>
                            <option value="<%=data[0].format%>" ></option>DVD</option>
                            <option value="<%=data[0].format%>"></option>Streaming</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">Length</td>
                    <td>Length:
                        <input type="number" value="<%=data[0].length%>" name="length" maxlength="1">
                    </td>
                </tr>
                <tr>
                    <td class="label">Year Released</td>
                    <td>Year Released:
                        <input type="number" value="<%=data[0].release_year%>" name="release_year" maxlength="4">
                    </td>
                </tr>
                <tr>
                    <td class="label">Rating</td>
                    <td>Rating:
                        <input type="number" value="<%=data[0].rating%>" name="rating" maxlength="1">
                    </td>
                </tr>

                <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp;
                        <input type="submit" name="submit" value="Save" onClick="cancelAdd()">
                        <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                </tr>
            </table>
        </form>

    </div>

    <%- include layouts/footer.ejs %>